{% extends "atttp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Tekma
{% endblock %}
{% block add_head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Vnos tekme
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
</div>
<script>

    $( document ).ready(function() {
        $( ".datepicker" ).datepicker({
            dateFormat: "dd/mm/yy",
            minDate: 0
        });
        $(".timepicker").timepicker({
            timeFormat: 'HH:mm',
            minTime: '07:00',
            maxTime: '23:00',
            interval: 60,
            defaultTime: '7'
        });

        $("#id_club").change(function() {
            
            var club = $(this).val();

            $.ajax({
                url: 'ajax/get_users/',
                data: {
                    'club': club
                },
                dataType: 'json',
                success: function (data) {
                                $('select[name=oseba_1]').empty();
                                $('select[name=oseba_2]').empty();
                                $.each(data, function(index, text) {
                                    $('select[name=oseba_1]').append(
                                        $('<option></option>').val(text.id).html(text.first_name)
                                    );
                                    $('select[name=oseba_2]').append(
                                        $('<option></option>').val(text.id).html(text.first_name)
                                    );
                                });
                            }
            });
        });
    });
</script>
{% endblock content %}